.site__header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 1.1rem;
    z-index: 2;
    position: relative;
    font-family: var(--accentFont);

    @include breakpoint(up, lg) {
        padding: 2rem;
        font-size: 1.4rem;
    }

    &-logo {
        svg {
            width: 50px;
        }

        span {
            transition: all 0.35s;
        }

        &.small {
            span {
                margin-left: -120px;
                opacity: 0;
            }
        }
    }

    a {
        color: var(--lightColor);
        text-decoration: none;
    }

    &-nav {
        display: flex;
        justify-content: flex-end;

        a {

            &:not(:last-of-type) {
                margin-right: 2rem;
            }
        }
    }
}