$primary_color:#333;
$secondary_color:#0000ff;

:root {
    --mainColor: #17181a;
    --lightColor: #ffffff;
    --lightAccentColor: #f8f8f8;

    --mainFont: 'Space Mono';
    --accentFont: 'Space';
}